@import "tailwindcss";

body {
  background-color: #d6d6d6;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

/* Thin, clean custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}


/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

body.dark {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

.dark .bg-gray-100 { background-color: #2c2c2c; }
.dark .text-black { color: #f0f0f0; }
